{% extends "base.html" %}
{% block bodycontent %}
<div class="green_margin">


<h1>About</h1>

<div class="about">
  <h1>Das Seminar</h1>
  <p>Wir sind das Seimnar Garten der Zukunft im Wintersemester 2021/22.</p>
</div>

<p>Moin! Das sind wir: die Studierenden, die dieses Jahr am Seminar “Garten der Zukunft” teilnehmen. Wir sind ein bunt zusammengewürfelter Haufen aus Studierenden verschiedener Fachrichtungen - von Umweltwissenschaften über Lehramt bis zu Ingenieurwissenschaften ist alles dabei! Gemeinsam dürfen wir entscheiden, wie ein 2000m² großer Schrebergarten in einem Kleingartenverein in Lüneburg gestaltet werden soll. Während des Wintersemesters 2021/22 überlegen wir uns Konzepte, wie ein “Garten der Zukunft” aussehen soll. Einerseits wollen wir Pflanzen nachhaltig anbauen und einen Lebensraum für möglichst viele Lebewesen schaffen. Andererseits wollen wir auch für Menschen einen Raum schaffen, um zu lernen und einander zu begegnen.
In den kommenden Wochen stellen wir euch hier die einzelnen Projektideen genauer vor. Das Seminar soll im Sommersemester weitergeführt werden. Dann werden die Wolkenschlösser, die jetzt entstehen, hoffentlich in die Tat umgesetzt!
</p>
</div>
{% endblock %}
